@import './scss/_variables';
@import './scss/_fonts';

html {
    font-size: 18px;
}

.App {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media print {
    html {
        font-size: 15px;
    }

    .App {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }
}
