@import './scss/_variables';
@import './scss/_fonts';

html {
    font-size: 18px;
}

.App {
    // background-color: #8bc6ec;
    // background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
    // background-color: #ff3cac;
    // background-image: linear-gradient(
    //     225deg,
    //     #ff3cac 0%,
    //     #784ba0 50%,
    //     #2b86c5 100%
    // );
    // background-image: radial-gradient(
    //     circle farthest-corner at 10% 20%,
    //     rgba(37, 145, 251, 0.98) 0.1%,
    //     rgba(0, 7, 128, 1) 99.8%
    // );
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media print {
    html {
        font-size: 15px;
    }

    .App {
        margin: 0;
        padding: 0;
        max-height: 27.7cm;
    }
}

@media screen and (max-width: 768px) {
    html {
        // font-size: 16px;
    }
}
