@import './scss/_variables';
@import './scss/_fonts';

html {
    font-size: 18px;
}

.App {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $inter-font-family;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media print {
    html {
        font-size: 15px;
    }

    .App {
        margin: 0;
        padding: 0;
        max-height: 27.7cm;
    }
}
