.bio {
    width: 100%;
}

.full-name {
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #333;
}

.first-name {
    font-weight: 800;
}

.first-name::after {
    content: ' ';
}

.last-name {
    font-weight: 200;
}

.contact-info {
    font-size: 0.8rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.about {
    font-size: 0.8rem;
    text-align: justify;
}
