@import './scss/variables';

.bio {
    width: 100%;
}

.full-name {
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 4px solid $primary-font-color;
    margin: 0;
}

.first-name {
    font-weight: 800;
}

.first-name::after {
    content: ' ';
}

.last-name {
    font-weight: 200;
}

.title {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 0 0;
    font-weight: 300;
    flex-grow: 1;
}

.title-contact {
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about {
    font-size: 1rem;
    text-align: justify;
}
