@import './scss/variables';

.job {
    margin-bottom: 1rem;
}

.job:last-of-type {
    margin-bottom: 0;
}

.job-details {
    font-size: 1rem;
}

h3.job-position {
    font-size: 1.2rem;
    margin: 0;
    border-bottom: 1px solid $primary-lighter;
    font-weight: 400;
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.duration {
    font-weight: 200;
    font-size: 0.8rem;
}

.company,
.location {
    font-size: 0.9rem;
}

.company::after {
    content: ', ';
}

.location {
    font-weight: 100;
}

.description {
    font-weight: 200;
    text-align: justify;
}
