@import './scss/variables';

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    font-size: 1rem;
    font-weight: 200;
    padding: 0 1rem 0 0;
    // border-right: 1px solid $primary-lighter;
}

h4.skill-name {
    display: inline;
    margin: 0;
    font-weight: 300;
}

.level {
    font-weight: 200;
}

.skill-level {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $primary-font-light;
}

.skill-level.checked {
    background: $primary-font-dark;
}
