$primary: #0d1017;
$primaryLight: #151b22;
$primaryLighter: #21262e;

$primaryFontColor: #c9d1d9;
$primaryFontLight: #f0f6fc;
$primaryFontDark: #afbac5;

$accentPink: #f279bc;
$accentViolet: #683fbf;
$accentRed: #d93636;
$accentYellow: #d99a25;
$accentGreen: #41bf49;
$accentBlue: #206feb;
