$primary: #0d1017;
$primary-light: #151b22;
$primary-lighter: #21262e;

$primary-font-color: #c9d1d9;
$primary-font-light: #f0f6fc;
$primary-font-dark: #afbac5;

$accent-pink: #f279bc;
$accent-violet: #683fbf;
$accent-red: #d93636;
$accent-yellow: #d99a25;
$accent-green: #41bf49;
$accent-blue: #206feb;
